<h2>Registro de usuarios</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div>
  	<%= f.label :email, 'Email' %>
  	<%= f.email_field :email, autofocus: true, class: "input-xxlarge" %>
	</div>

  <div>
    <%= f.label :username, 'Nombre de usuario' %>
    <%= f.text_field :username, autofocus: true, class: "input-xxlarge" %>
  </div>

  <div>
  	<%= f.label :password, 'Contraseña' %>
    <%= f.password_field :password, autocomplete: "off", class: "input-xxlarge" %>
  </div>

  <div>
  	<%= f.label :password_confirmation, 'Confirmar Contraseña' %>
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "input-xxlarge" %>
  </div>

  <div>
  	<%= f.submit "Registrarse", class: "btn btn-primary" %>
	</div>
<% end %>
