<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
</a>
<a class="brand" href="/">Martha Restrepo Inmobiliaria</a>
<div class="nav-collapse">
  <ul class="nav pull-right">
    <li><%= link_to "Inicio", root_path %></li>
    <li><%= link_to "Contacto", root_path %></li>

		<li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Usuarios <span class="caret"></span></a>
			<ul class="dropdown-menu" role="menu">
				<% if signed_in? %>
					<li><%= link_to "Dashboard", rails_admin_path, method: :get %></li>
					<li class="divider"></li>
					<li><%= link_to "Salir", destroy_user_session_path, method: :delete %></li>
				<% else %>
					<li><%= link_to "Ingresar", new_user_session_path %></li>
					<li><%= link_to "Registrate", new_user_registration_path %></li>
				<% end %>
			</ul>
		</li>
  </ul>
</div>